---
import { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout_about.astro";
import Conocimientos from "@/components/movil-view/conocimientos.astro";

changeLanguage("fr");
---

<Layout>
  <div class="space-y-8 max-w-4xl mx-auto mt-4 text-justify">
    <div set:html={t("about-me.p1")} />
    <div set:html={t("about-me.p2")} />
    <div set:html={t("about-me.p3")} />
  </div>

  <Conocimientos />
</Layout>
