---
import { IslaDinamicaFormacion } from "./formacion/IslaDinamicaFormacion.jsx";
import i18next, { t } from "i18next";

const currentLanguage = i18next.language;
---

<section id="formacion">
  <h2 class="text-[#e8e8e8] text-2xl font-bold">{t("titles.formation")}</h2>

  <IslaDinamicaFormacion
    currentLanguage={currentLanguage}
    client:only="react"
  />
</section>
