---
import Layout from "../../layouts/Layout.astro";
import { IslaDinamicaFormacion } from "../../components/formacion/IslaDinamicaFormacion.jsx";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");

const currentLanguage = i18next.language;
---

<Layout>
    <p>{t("titles.formation")}</p>

    <IslaDinamicaFormacion currentLanguage={currentLanguage} client:only="react" />

</Layout>

