---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import { getProyectos } from "../../data/getData.js";
import { TarjetaProyecto } from "../../components/home/IslaDinamicaMostrarDetallesP.jsx";

changeLanguage("en");

const currentLanguage = i18next.language;
const proyectos = getProyectos(currentLanguage);
---

<Layout>
    <h2>{t("titles.proyects")}</h2>
    <div class="proyectos">
        {proyectos.map((proyecto) => (
            <TarjetaProyecto client:only="react" proyecto={proyecto} />
        ))}        
    </div>
</Layout>

