---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section>
        <h2>Conocimientos</h2>
        <ul>
            <li>Consumo y creación de RESTful APIs</li>
            <li>Diseño de bases de datos relacionales</li>
            <li>Algoritmos y estructuras de datos</li>
            <li>Uso de GitHub</li>
            <li>Pruebas unitarias</li>
            <li>Código limpio y estandarizado</li>
            <li>Infraestructura básica</li>
            <li>Metodologías tradicionales y ágiles</li>
            <li>Creación de aplicaciones IoT</li>
        </ul>

        <h2>Habilidades</h2>
        <ul>
            <li>Resolución de problemas</li>
            <li>Aprendizaje continuo</li>
            <li>Adaptabilidad</li>
            <li>Organización y gestión del tiempo</li>
            <li>Trabajo en equipo</li>
            <li>Planificación</li>
            <li>Comunicación</li>
            <li>Liderazgo</li>
        </ul>
    </section>
</Layout>

<style>
    section {
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
    }

    h2 {
        color: #db750e;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid #db750e;
        padding-bottom: 0.25rem;
    }

    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
        margin-bottom: 2rem;
    }

    li {
        font-size: 1rem;
        color: #fff;
        margin-bottom: 0.5rem;
    }
</style>