---
import Layout from '../layouts/Layout.astro';
import { IslaDinamicaFormacion } from '../components/formacion/IslaDinamicaFormacion.jsx';
---

<Layout>
    <p>Esta es mi información de formación académica y profesional 🚀</p>

    <IslaDinamicaFormacion client:only="react" />

</Layout>

