---
import Layout from '../layouts/Layout.astro';
import { proyectos } from '../data/proyectos.js';
import { TarjetaProyecto } from '../components/home/IslaDinamicaMostrarDetallesP.jsx';
---

<Layout>
    <h2>Proyectos en los que he trabajado 🛠️</h2>
    <div class="proyectos">
        {proyectos.map((proyecto) => (
            <TarjetaProyecto client:only="react" proyecto={proyecto} />
        ))}        
    </div>
</Layout>
