---
import { Ripple } from "@/components/magicui/ripple";
---

<section class="section active">
  <div
    class="bg-[#111] w-full h-full flex items-center justify-center px-20 gap-20"
  >
    <div class="w-2/3 h-full relative overflow-hidden flex items-center">
      <h2 class="text-7xl z-20 relative">
        SOY AIDEE CASILLAS, UNA DESARROLLADORA DE SOFTWARE JUNIOR 100% MEXICANA
      </h2>
      <Ripple client:load />
    </div>
    <div class="w-1/3 text-center">
      Actualmente soy estudiante en ingeniería de desarrollo de software
      multiplataforma en la Universidad Tecnológica de Léon. Combino mi pasión
      por la tecnología con mi creatividad para construir aplicaciones que
      resuelvan problemas reales. Me motiva aprender constantemente y colaborar
      en proyectos que generen impacto.
      <br /><br />

      <a href="/">
        <button
          class="mt-4 px-4 py-2 bg-[#db750e] text-white rounded hover:bg-[#c7680b] animate-pulse transition"
        >
          <span>Conoce más sobre mí</span>
        </button>
      </a>
    </div>
  </div>
</section>
