---

---

<section class="section">
  <div class="bg-[url('/img/bg-2.png')] bg-cover bg-center">
    <div class="slide px-20">
      <div class="bg-[#333] p-5 rounded-lg h-min w-full">
        <div class="border-b-2 border-[#db750e] pb-5">
          <h3>Nombre del Proyecto 1</h3>
        </div>
        <div class="flex gap-5 mt-5">
          <div class="flex-1/2">
            <img
              data-src="/img/galaxia.jpeg"
              alt="Imagen de un proyecto"
              class="object-cover"
            />
          </div>
          <div class="flex-1/2">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse congue ullamcorper eros vel laoreet. Donec gravida
              elit at interdum varius. Nam consequat finibus lorem nec auctor.
            </p>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">aquí va una tarjeta de proyectoooooooo 2</div>
  </div>
</section>

<style>
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
</style>
