<section class="section">
  <div class="flex flex-row items-center justify-center">
    <div class="flex-1">sdfhubo.n-ajófi</div>
    <div class="flex-1">
      <img src="/img/aidee_sbg.png" alt="Catasi" class="w-md" />
    </div>
  </div>
</section>
