---
import Formacion from "../home/formacion.astro";
---

<section class="section">
  <div class="flex flex-row items-center justify-center p-10 gap-5">
    <div class="flex-2/3">
      <Formacion />
    </div>
    <div class="flex-1/3">
      <img src="/img/aidee_sbg.png" alt="Catasi" class="w-md" />
    </div>
  </div>
</section>
