---
import { proyectos } from '../data/proyectos.js';
---

<div class="detalles-proyecto">+
    

</div>

<style>
    .detalles-proyecto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .detalles-proyecto-img {
        width: max-content;
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
    }

    .detalles-proyecto-info {
        padding: 30px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 10px;
    }

    .detalles-proyecto-info h3 {
        color: #db750e;
        margin: 0;
        font-size: 20px;
    }

    .detalles-proyecto-info p {
        padding-bottom: 15px;
        padding-top: 15px;
        margin: 0;
        font-size: 16px;
    }    
</style>