---
import { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("es");
---

<Layout>
    <div class="conocimiento-container">
        <h2>{t("knowledges.title")}</h2>
        <ul>
            <li>{t("knowledges.l1")}</li>
            <li>{t("knowledges.l2")}</li>
            <li>{t("knowledges.l3")}</li>
            <li>{t("knowledges.l4")}</li>
            <li>{t("knowledges.l5")}</li>
            <li>{t("knowledges.l6")}</li>
            <li>{t("knowledges.l7")}</li>
            <li>{t("knowledges.l8")}</li>
            <li>{t("knowledges.l9")}</li>
        </ul>

        <h2>{t("skills.title")}</h2>
        <ul>
            <li>{t("skills.l1")}</li>
            <li>{t("skills.l2")}</li>
            <li>{t("skills.l3")}</li>
            <li>{t("skills.l4")}</li>
            <li>{t("skills.l5")}</li>
            <li>{t("skills.l6")}</li>
            <li>{t("skills.l7")}</li>
            <li>{t("skills.l8")}</li>
        </ul>
    </div>
</Layout>

<style>
    .conocimiento-container {
        padding-left: 2rem;
        max-width: auto;
        margin: 0 auto;
    }

    h2 {
        color: #db750e;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid #db750e;
        padding-bottom: 0.25rem;
    }

    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
        margin-bottom: 2rem;
    }

    li {
        font-size: 1rem;
        color: #fff;
        margin-bottom: 0.5rem;
        transform: translateX(-10px);
        transition: duration 0.5s ease-in-out;
    }

    li:hover {
        transform: translateX(0);
    }
</style>