---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Aside from "../components/Aside.astro";
import { Pointer } from "@/components/magicui/pointer";
import "../styles/global.css";
import { t } from "i18next";
import Inicio from "@/components/Inicio.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon-galaxy.png" />
    <meta name="description" content={t("site.description")} />
    <title>{t("site.title")}</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- fullPage.js CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css"
    />
    <!-- fullPage.js JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"
    ></script>
    <!-- scrollOverflow addon -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/vendors/scrolloverflow.min.js"
    ></script>
  </head>
  <body>
    <video
      src="/video/bg_galaxia2.mp4"
      autoplay
      loop
      muted
      playsinline
      class="w-full max-h-max object-cover fixed top-[-100px]"
    >
    </video>
    <main id="fullpage">
      <Inicio />
      <slot />
      <Footer />
    </main>
    <script type="module" src="/src/scripts/fullpage-init.ts"></script>
  </body>
</html>

<style>
  :root {
    --font-mono: "IBM Plex Mono", ui-monospace, monospace;
  }
  body {
    color: white;
    margin: 0;
    /* background-image: url("/img/fondo.jpeg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--font-mono);
  }

  body {
    --scrollbar-width: 5px;
    --scrollbar-height: 10px;
    --scrollbar-border-radius: 4px;
    --scrollbar-border-thickness: 0px;
    --show-double-buttons: none;
    --scrollbar-thumb-color: #db750e;
  }
  body::-webkit-scrollbar-button {
    background: var(--scrollbar-button-color, #3f3f46);
    border: var(--scrollbar-border-thickness, 3px) solid
      var(--scrollbar-border-color, rgb(255, 255, 255));
    border-radius: var(--scrollbar-border-radius, 4px);
  }
  body::-webkit-scrollbar {
    width: var(--scrollbar-width, 20px);
    height: var(--scrollbar-height, 20px);
  }
  body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #3b82f6);
    border: var(--scrollbar-border-thickness, 3px) solid
      var(--scrollbar-border-color, rgb(255, 255, 255));
    border-radius: var(--scrollbar-border-radius, 4px);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, #a1a1aa);
  }
  body::-webkit-scrollbar-corner {
    background: var(--scrollbar-corner-color, #ffffff);
    border: var(--scrollbar-border-thickness, 3px) solid
      var(--scrollbar-border-color, rgb(255, 255, 255));
    border-radius: var(--scrollbar-border-radius, 4px);
  }
  body::-webkit-scrollbar-button:vertical:start:increment,
  #preview::-webkit-scrollbar-button:vertical:end:decrement,
  #preview::-webkit-scrollbar-button:horizontal:start:increment,
  #preview::-webkit-scrollbar-button:horizontal:end:decrement {
    display: var(--show-double-buttons, none);
  }
</style>
