.acordion {
    margin-bottom: 1rem;
    border: 1px solid #db750e;
    border-radius: 6px;
    overflow: hidden;
  }

  .btn-acordion {
    width: 100%;
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #db750e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-acordion:hover {
    background-color: #f5a14d;
  }

  .contenido-acordion {
    background-color: #313131;
    overflow: hidden;
    transition: max-height 0.5s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .seccion {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 1rem;
      justify-content: center;
  }

  .educacion {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
  }

  .educacion-img {
      width: max-content;
      height: 200px;
      object-fit: cover;
      border-radius: 20px;
  }

  .educacion-info {
      padding: 30px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 10px;
  }

  .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 1rem;
      width: 150px;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
  }

  item:hover {
      transform: translateY(-10px);
  }

  .item-img {
      width: max-content;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 0.5rem;
  }

  .item-info {
      padding: 30px;
      text-align: justify;
      display: flex;
      flex-direction: row;
      align-content: center;
      gap: 10px;
  }

 section h3 {
      color: #db750e;
      margin: 0;
      font-size: 20px;
  }

  .educacion-info p {
      padding-bottom: 15px;
      padding-top: 15px;
      margin: 0;
      font-size: 16px;
  } 

  ul {
    padding: 1rem 1.5rem;
    margin: 0;
    color: #fff;
  }

  li {
    margin-bottom: 0.5rem;
  }

  @media (max-width: 1024px) {
    .educacion {
      flex-direction: column;
    }
    
    .item {
      padding: 0.5rem;
    }
  }

  @media (max-width: 426px) {
    .item {
      width: min-content;
    }
  }